# TeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.swp
*.synctex.gz
*.synctex(busy)
*.pygstyle
*.pygtex
*.pyg
*_minted-*
*.out
*.toc
*.bbl
*.bcf
*.blg
*.run.xml
*.idx
*.ilg
*.ind

# Mac OS
*.DS_Store

tmp-*

*_tmp.sql

__latexindent_temp.tex

*.pdf
